body {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: auto minmax(10em, 42em) auto;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.elem {
  min-width: 100%;
  width: 100%;
  height: 100%;
}
